<% provide(:title, "Draft") %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">To</th>
          <th scope="col">Subject</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <% if @all_draft.present? %>
          <% @all_draft.each do |draft_email| %>
            <tr data-link="<%= email_path(draft_email) %>" style="cursor: pointer;">
              <td><%= draft_email.receivers_for_draft %></td>
              <td><%= draft_email.subject %></td>
              <td>Saved <%= time_ago_in_words(draft_email.created_at) %> ago.</td>
              <td><a class="btn btn-success btn-sm" href="<%= edit_draft_path(draft_email) %>" role="button">Edit</a></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>