<% provide(:title, "Inbox") %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">From</th>
          <th scope="col">Subject</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <% if @all_received.present? %>
          <% @all_received.each do |received| %>
            <tr data-link="<%= email_path(received.email) %>" style="cursor: pointer;">
              <td><%= User.find_by(id: received.sender_user_id).email %></td>
              <td><%= received.email.subject %></td>
              <td>Received <%= time_ago_in_words(received.created_at) %> ago.</td>
              <td><a class="btn btn-success btn-sm" href="<%= email_path(received.email) %>" role="button">View</a></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>